footer
	.footer__wrapper
		.footer__inner
			.container
				.row
					.col-4.footer__logo
						h2 CÂU LẠC BỘ BẤT ĐỘNG SẢN TP.HCM
						a.logo__img(href="index.html")
							img.dekstop(src="./assets/logo.png", alt="")
					.col-4.footer__contact
						.contact__item
							.item__icon
								img(src="./assets/images/layout/map.png", alt="location-hrec")
							.item__text
								a(href="") Lầu 2, 199 Phan Đình Phùng, P.17, Q. Phú Nhuận, TP. HCM
						.contact__item
							.item__icon
								img(src="./assets/images/layout/phone.png", alt="phone-hrec")
							.item__text
								a(href="") 0906 999 780 - 0906 999 780
						.contact__item
							.item__icon
								img(src="./assets/images/layout/gmail.png", alt="email-hrec")
							.item__text
								a(href="") chamsochoivien@hrec.vn
						.contact__item
							.item__icon
								img(src="./assets/images/layout/web.png", alt="web")
							.item__text
								a(href="") www.website.com
					.col-2.footer__siteMap
						.siteMap__item
							a(href="") CỘNG ĐỒNG
						.siteMap__item
							a(href="") BAN CHUYÊN ĐỀ
						.siteMap__item
							a(href="") HỘI VIÊN
						.siteMap__item
							a(href="") KẾT NỐI
					.col-2.footer__social
						h2 Liên kết :
						.social__wrapper
							a.social__item(href="")
								img(src="./assets/images/layout/fb.png", alt="fb")
							a.social__item(href="")
								img(src="./assets/images/layout/pin.png", alt="")
							a.social__item(href="")
								img(src="./assets/images/layout/ins.png", alt="")
	.copyright
		.container-1385px
			.copyright__wrapper
				h2 Copyright © 2020 .Thiết kế & tài trợ bởi Braney
				.copyright__img
					img(src="./assets/images/layout/braney.png", alt="")

