.introduce__purpose {
	margin-bottom: 110px;
	@media (max-width: 1024.98px) {
		margin-bottom: 40px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
}

.introduce__purpose__wrapper {
	.swiper-slide {
		position: relative;
		padding-left: 30px;
		border-left: 1px solid map-get($mau, main-3);
		&::after {
			content: "";
			position: absolute;
			width: 30px;
			height: 1px;
			top: 0;
			left: 0;
			background: map-get($mau, main-3);
		}
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 1px;
			bottom: 0;
			left: 0;
			background: map-get($mau, main-3);
		}
		& > .img {
			position: relative;
			img {
				transition: 1s all ease-in-out;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to bottom, #525866 0% , #292C33 100%);
				opacity: .6;
				transition: 2s all ease-in-out;
			}
		}
		.desc {
			position: absolute;
			bottom: 40px;
			left: 0;
			background: map-get($mau, main-2);
			box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.52);
			width: calc(100% - 85px);
			max-height: 242px;
			padding: 35px 44px;
			.title {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 20px;
				h2 {
					padding-left: 10px;
					font-size: 25px;
					font-family: Lato-Bold;
					color: map-get($mau, main-3);
					@media (max-width: 575.98px) {
						font-size: 18px;
					}
				}
				.img {
					svg {
						vertical-align: baseline;
						@media (max-width: 575.98px) {
							width: 16px;
							height: 14px;
						}
					}
				}
			}
			p {
				color: map-get($mau, main-1);
				margin-bottom: 20px;
			}
			@media (max-width: 1440px) {
				width: calc(100% - 45px);
			}

			@media (max-width: 767.98px) {
				width: calc(100% - 35px);
			}
			@media (max-width: 575.98px) {
				width: calc(100% - 85px);
			}
		}

		.btn--readmore {
			height: 34px;
			span {
				font-size: 16px;
				font-family: Lato-Regular;
			}
			svg {
				path {
					fill: map-get($mau, main-2);
				}
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				cursor: pointer;
				& > .img {
					img {
						transform: scale(1.1);
						transition: all 1s ease-in-out;
					}
					&::before {
						opacity: 0;
						transition: .3s all ease-in-out;
					}
				}
				.desc {
					transition: all 0.3s ease-in-out;
					background: map-get($mau, main-3);
				}
				.title {
					svg {
						path {
							transition: all 1s ease-in-out;
							fill: map-get($mau, main-2);
						}
					}
					h2 {
						transition: all 1s ease-in-out;
						color: map-get($mau, main-2);
					}
				}
				p {
					transition: all 1s ease-in-out;
					color: map-get($mau, main-2);
				}
				.btn--readmore {
					transition: all 1s ease-in-out;
					background: map-get($mau, main-2);
					span {
						transition: all 1s ease-in-out;
						color: map-get($mau, main-3);
					}
					svg {
						path {
							transition: all 1s ease-in-out;
							fill: map-get($mau, main-3);
						}
					}
				}
			}
		}
	}
}
