.introduce__organization {
	margin-bottom: 110px;
	@media (max-width: 1024.98px) {
		margin-bottom: 40px;
	}
	.block__main--title {
		margin-bottom: 55px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
}
.introduce__organization__wrapper {
	.struct-map {
		margin-bottom: 120px;
		@media (max-width: 1024.98px) {
			margin-bottom: 30px;
		}
	}
	@media (max-width: 767.98px) {
		.hot-news--banner {
			margin-bottom: 10px;
			.swiper-container {
				text-align: center;
			}
		}
	}
}