section.introduce__overview
	.container
		.container-1385px
				.block__main--title
					h2.title Tin nổi bật
				.introduce__overview__wrapper
					.img
						img.ofcv.lazyload(src="./assets/images/introduce/BANNER.png", alt="something")
					.overview--desc
						h2.title Câu lạc bộ bất động sản TP.HCM (HREC), trực thuộc hiệp hội doanh nghiệp TP.HCM (HUBA) chính thức ra mắt vào 30.05.2018
						.desc
							p Câu lạc bộ Bất động sản TP.HCM là tổ chức tự nguyện của các cá nhân, tổ chức và các chuyên gia hoạt động trong lĩnh vực môi giới và kinh doanh bất động sản; hoặc xây dựng, nhà hàng, khách sạn, lĩnh vực khác muốn tìm hiểu kinh doanh thêm trong lĩnh vực bất  động sản.
							p Câu lạc bộ giúp doanh nghiệp nâng cao hiểu biết về kinh doanh, môi giới bất động sản, cập nhật kiến thức, và hỗ trợ cho các doanh nghiệp thành viên Hiệp hội Doanh nghiệp Thành phố Hồ Chí Minh.
							p Kết nối, hỗ trợ các thành viên trong Câu lạc bộ cũng như Hiệp hội Doanh nghiệp Thành phố Hồ Chí Minh và những doanh nhân ngoài hội có nhu cầu phát huy mọi khả năng, tiềm lực nhằm ổn định và phát triển hoạt động sản xuất kinh doanh
						.btn__wrapper
							a(href="#").btn.btn--readmore
								span Xem quyết định thành lập
								img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")