section.introduce__organization
	.container
		.container-1385px
			.block__main--title
				h2.title Cơ cấu tổ chức
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.introduce__organization__wrapper
				.struct-map
					img.lazyload(data-src="./assets/images/introduce/struct_main.png", alt="")
				.banner.row
					-for(var i=0;i < 2; i++)
						.hot-news--banner.col-lg-6.col-md-12
							.swiper-container
								.swiper-wrapper
									.swiper-slide
										img(src=`./assets/images/introduce/banner-${i + 1}.png`, alt="")
