section.introduce__rule
	.container
		.container-1385px
			.block__main--title
				h2.title Quy chế - Điều lệ
			.introduce__rule__wrapper
				.row
					.hot-news--banner.banner.col-3
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.ofcv(src="./assets/images/introduce/banner-rule.png", alt="")
					.rule.col-9
						.rule-item
							.title
								h2.tt-u Quy Chế
							.rule-content
								.desc
									p CHƯƠNG I - QUY ĐỊNH CHUNG
									p
										!= "<span>Điều 6:</span> Điều kiện để thành Hội viên Câu lạc bộ"
									p
										!= "<span>1. </span>Phải có tư cách pháp nhân, hoạt động trong lĩnh vực đầu tư kinh doanh, môi giới bất động sản và các tổ chức pháp nhân khác có ngành nghề liên quan đến bất động sản như: Luật, chứng khoán, ngân hàng, kiểm toán xây dựng, vật liệu xây dựng…"
								.see-and-down
									.btn.btn--see-and-down
										a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit",target="_bank") Xem tài liệu
										a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download", download) Tải PDF
						.rule-item
							.title
								h2.tt-u Điều Lệ
							.rule-content
								.desc
									p CHƯƠNG I - QUY ĐỊNH CHUNG
									p
										!= "<span>Điều 6:</span> Điều kiện để thành Hội viên Câu lạc bộ"
									p
										!= "<span>1. </span>Phải có tư cách pháp nhân, hoạt động trong lĩnh vực đầu tư kinh doanh, môi giới bất động sản và các tổ chức pháp nhân khác có ngành nghề liên quan đến bất động sản như: Luật, chứng khoán, ngân hàng, kiểm toán xây dựng, vật liệu xây dựng…"
								.see-and-down
									.btn.btn--see-and-down
										a(href="https://drive.google.com/file/d/1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN/edit",target="_bank") Xem tài liệu
										a(href="https://drive.google.com/u/0/uc?id=1iiZAqKNcrKq3VGdNyCODHug3YAe48cYN&export=download", download) Tải PDF

