section.News {
    padding-top: 200px;
    .newsHREC__list {
        display: flex;
        flex-wrap: wrap;
    }
    .list__item {
        &:nth-child(1) {
            width: 50%;
            flex: 0 0 50%;
        }
        &:nth-child(2) {
            width: 50%;
            flex: 0 0 50%;
        }
        flex: 0 0 20%;
    }
}