section.Events {
    padding-top: 90px;
    .events__HREC {
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .events__content {
        display: flex;
        width: calc(100% - 327px);
        flex-wrap: wrap;
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .events__blog {
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;
        .events__item {
            &:hover {
                .model--img {
                    img {
                        transform: scale(1.1);
                        transition: all .5s ease-in-out;
                    }
                }
                .model--desc {
                    background: map-get($mau, main-3);
                    h2,
                    p {
                        transition: all .5s ease-in-out;
                        color: map-get($mau, main-2);
                    }
                }
            }
            flex: 0 0 50%;
            padding: 0 10px;
            margin-bottom: 20px;
            @media (max-width: 575.98px) {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .model--img {
                height: 333px;
                img {
                    transition: all .5s ease-in-out;
                }
            }
            .model--date {
                z-index: 10;
                display: inline-flex;
                position: absolute;
                background: map-get($mau, main-3);
                width: 110px;
                align-items: center;
                justify-content: center;
                top: 28px;
                left: 33px;
                span {
                    font-family: Lato-Medium;
                    color: map-get($mau, main-2);
                }
            }
            .model--desc {
                padding: 30px;
                margin-top: 8px;
                border: 1px solid map-get($mau, main-3);
                h2 {
                    color: map-get($mau, main-3);
                    font-family: Lato-Black;
                    font-size: 20px;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 8px;
                }
                p {
                    color: map-get($mau, main-1);
                    font-family: Lato-Regular;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
    .events__adc {
        width: 327px;
        height: 542px;
        @media (max-width: 768.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            height: 100%;
        }
        .swiper-wrapper {
            height: 542px;
        }
        .eventTop__slider,
        .eventBot__slider {
            padding-left: 20px;
            @media (max-width: 768.98px) {
                text-align: center;
            }
        }
        .eventTop__slider {
            margin-bottom: 20px;
        }
        img {
            height: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .eventBottom__HREC {
        margin-top: 75px;
        padding-bottom: 117px;
        position: relative;
        .swiper-button-next {
            right: 32px;
            top: 90%;
            width: 44px;
            height: 44px;
            z-index: 10;
        }
        .swiper-button-prev {
            top: 90%;
            left: calc(100% - 135px);
            width: 44px;
            height: 44px;
        }
        .swiper-button-prev.swiper-button-disabled {
            background: map-get($mau, main-2);
            opacity: 1;
        }
        .swiper-button-next.swiper-button-disabled {
            background: map-get($mau, main-2);
            opacity: 1;
        }
        .item--desc {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: calc(100% - 32px);
                height: 2px;
                background: #b69256;
                bottom: 0;
                right: 0;
            }
            h2 {
                color: map-get($mau, main-3);
                font-family: Lato-Black;
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 8px;
            }
            p {
                color: map-get($mau, main-1);
                font-family: Lato-Regular;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
    }
}