.community {
	.newsHREC__list {
		margin-bottom: 60px;
		.news__item:nth-child(1),
		.news__item:nth-child(2) {
			margin-bottom: 50px; 
			@media (max-width: 767.98px) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
	}
	.news__item:not(:first-child):not(:nth-child(2)) { 
		margin-bottom: 20px;
	}
	.banner.row {
		margin-bottom: 88px;
	}
	.swiper-button-prev.swiper-button-disabled {
		background: map-get($mau, main-1) !important;
		 opacity: 1;
	 }
	 .swiper-button-next.swiper-button-disabled {
		 background: map-get($mau, main-1) !important;
		 opacity: 1;
	 }
	 .item--desc {
		 h2 {
			 color: map-get($mau, main-2) !important;
		 }
		p {
			color: map-get($mau, main-2) !important;
		}
	}
	
	.news__slider {
		padding-bottom: 0 !important;
	}
	 .eventBottom__HREC .item--desc::after {
		@media (max-width: 1024.98px) {
			width: calc(100% - 10px) !important;
		}
	}
	.eventBottom__HREC .item--desc {
		@media (max-width: 575.98px) {
			h2 {
				margin-bottom: 0 !important;
				font-size: 14px !important;
			}
			p {
				font-size: 12px !important;
			}
		}
	}
	.swiper-button-next {
		right: 32px;
		top: 90% !important;
		z-index: 10;
		@media (max-width: 575.98px) {
			top: 93% !important;
		}
	}
	.swiper-button-prev {
		top: 90% !important;
		left: calc(100% - 135px);
		width: 44px;
		height: 44px;
		@media (max-width: 575.98px) {
			left: calc(100% - 100px);
			top: 93% !important;
		}
	}
}

.eventBottom__HREC {
	margin-left: -33px;
	margin-right: -33px;
	.swiper-slide {
		padding-left: 33px;
		padding-right: 33px;
		
	}
	
}