.home__partner {
	margin-bottom: 100px;
	@media (max-width: 1024.98px) {
		margin-bottom: 40px;
	}
	.partner.col-6 {
		@media (max-width: 1024.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.block__main--title {
		margin-bottom: 50px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.partner {
		padding-left: 0;
	}
}
.partner__wrapper--content {
	.partner-logo__wrapper {
		.row {
			flex-direction: row;
			& > div:not(:last-child) {
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%;
				padding:0 10px;
				margin-bottom: 10px;
			}
			& > div:last-child {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				padding:0 10px;
			}
			@for $i from 1 through 7 {
				.item-#{$i}{
					order: #{$i};
				}
			}
			.item-5 {
				order: 2 ;
			}
			.item-6 {
				order:  2 ;
			}
			@media (max-width: 1439.98px) {
				& > div:not(:last-child) {
					-ms-flex: 0 0 33.33333%;
					flex: 0 0 33.33333%;
					max-width: 33.33333%;
				}
				& > div:last-child {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
				}
				.item-6 {
					order: 4;
				}
				
			}
			@media (max-width: 840px) {
				& > div:not(:last-child){
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
					padding: 0 5px;
				}
				.item-5 {
					order: 4;
				}
			}
			@media (max-width: 475.98px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				& > div {
					-ms-flex: 0 0 100% !important;
					flex: 0 0 100% !important;
					max-width: 100% !important;
					align-self: center;
					
				}
			}
		}
	}
	.partner--logo {
		width: 325px;
		height: 275px;
		// &:nth-child(odd) {
		// 	padding-right: 10px;
		// }
		// &:nth-child(even) {
		// 	padding-left: 10px;
		// }
		// &:nth-child(1) {
		// 	margin-bottom: 20px;
		// }
		// &:nth-child(2) {
		// 	margin-bottom: 20px;
		// }
		.img {
			background: var(--data-bg) no-repeat;
			height: 100%;
			transition: 0.3s all ease-in-out;
			background-position: center;
			z-index: 10;
		}
		.background--img{
			position: relative;
			height: 100%;
			background: url("../assets/images/partner/white.png") no-repeat;
			background-size: 100% 100%;
			box-shadow: 0 3px  6px rgba($color: #000000, $alpha: .16);
			img {
				padding: 60px 40px;
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				.background--img{
					transition: 1s all ease-in-out;
					border: 1px solid map-get($mau, main-3);
					background-size: calc(100% - 25px) calc(100% - 25px);
					background-position: center;
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				}
			}
		}
	}
	// .hot-news--banner.col-6 {
	// 	width: 325px;
	// 	margin-bottom: 20px;
	// }
	.hot-news--banner {
		height: 275px;
		.swiper-container {
			height: 100%;
			text-align: center;
			img {
				height: 100%;
				@media (max-width: 575.98px) {
					max-height: 100%;
					height: unset;
				}
			}
		}
		@media (max-width: 767.98px) {
			height: auto;
		}
	}
	// @media (max-width: 1440px) {
	// 	& > div {
	// 		-ms-flex: 0 0 100%;
	// 		flex: 0 0 100%;
	// 		max-width: 100%;
	// 	}
	// 	.banner__wrapper {
	// 		margin-top: 10px;
	// 		.hot-news--banner:not(:last-child) {
	// 			-ms-flex: 0 0 25%;
	// 			flex: 0 0 25%;
	// 			max-width: 25%;
	// 		}
	// 		.hot-news--banner:last-child {
	// 			-ms-flex: 0 0 50%;
	// 			flex: 0 0 50%;
	// 			max-width: 50%;
	// 		}
	// 	}
	// }
	// @media (max-width: 1024.98px) {
	// 	.banner__wrapper {
	// 		.hot-news--banner:not(:last-child) {
	// 			-ms-flex: 0 0 50%;
	// 			flex: 0 0 50%;
	// 			max-width: 50%;
	// 		}
	// 		.hot-news--banner:last-child {
	// 			-ms-flex: 0 0 100%;
	// 			flex: 0 0 100%;
	// 			max-width: 100%;
	// 		}
	// 	}
	// }
	// @media (max-width: 575.98px) {
	// 	.banner__wrapper {
	// 		.hot-news--banner:not(:last-child) {
	// 			-ms-flex: 0 0 100%;
	// 			flex: 0 0 100%;
	// 			max-width: 100%;
	// 		}
	// 		.hot-news--banner:last-child {
	// 			-ms-flex: 0 0 100%;
	// 			flex: 0 0 100%;
	// 			max-width: 100%;
	// 		}
	// 	}
	// }
}
//section member
.home__member {
	margin-bottom: 80px;
	.block__main--title {
		margin-bottom: 40px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.home__member--swiper {
		position: relative;
		.swiper-container {
			margin: 0 44px;
			@media (max-width: 575.98px) {
				margin: 0;
			}
		}
		.swiper-button-next, .swiper-button-prev {
			@media (max-width: 575.98px) {
				top: unset;
				bottom: -50px;
				&.swiper-button-next {
					right: calc(50% - 50px);
					@media (max-width: 575.98px) {
						right: calc(50% - 35px);
					}
				}
				&.swiper-button-prev {
					left: calc(50% - 50px);
					@media (max-width: 575.98px) {
						left: calc(50% - 35px);
					}
				}
			}
		}
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-self: center;
			align-items: center;
		}
	}
}
