header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 137px;
    padding-bottom: 10px;
    // background: white;
    &::before {
        position: absolute;
        width: 100%;
        height: 10px;
        background: #ffffff;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.35);
        bottom: 0;
        left: 0;
        content: '';
        opacity: .5;
    }
    &::after {
        position: absolute;
        content: '';
        background: #B69256;
        width: 100%;
        height: 77px;
        bottom: 10px;
        right: 0;
        z-index: -10;
        opacity: .3;
    }
    &.sroll {
        &::after {
            opacity: .7;
        }
    }
    .header__before {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 50px;
            width: 100%;
            background: white;
            top: 0;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.35);
        }
        &::after {
            position: absolute;
            content: '';
            width: 308px;
            height: 127px;
            background: white;
            z-index: 1;
        }
    }
    .header__before01 {
        position: absolute;
        top: 0;
        left: 0;
        &::before {
            position: absolute;
            top: 47px;
            left: 50px;
            width: 0;
            height: 0;
            border-right: 86px solid transparent;
            border-top: 80px solid white;
            border-left: 259px solid transparent;
            content: '';
            // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.35);
        }
        &::after {
            position: absolute;
            top: 21px;
            left: 335px;
            width: 154px;
            height: 65px;
            background: url(../assets/images/layout/bg.png);
            content: "";
        }
    }
    .header__after {
        position: absolute;
        left: 10%;
        opacity: .3;
        &::before {
            position: absolute;
            width: 184px;
            height: 77px;
            border-top-left-radius: 50%;
            background: #B69256;
            content: '';
            left: 100px;
            top: 0px;
        }
        &::after {
            position: absolute;
            width: 0;
            height: 0;
            border-right: 96px solid transparent;
            border-bottom: 56px solid #B69256;
            border-left: 66px solid transparent;
            content: '';
            top: 21px;
            left: 48px;
        }
    }
    .header__wrapper {
        position: relative;
        width: 100%;
    }
    .header__logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }
    .navTop__wrapper {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            font-size: 20px;
            color: map-get($mau, main-4);
            @media (max-width: 1440.98px) {
                font-size: 12px;
            }
        }
    }
    //HEADER INFORMATION
    .header__information {
        display: flex;
        margin-right: 40px;
    }
    .information__item {
        display: flex;
        margin-right: 40px;
        &:last-child {
            margin-right: 0px;
        }
        .item__icon {
            margin-right: 10px;
        }
        .item__text {
            color: map-get($mau, main-4);
        }
    }
    //HEADER LOGIN
    .header__login {
        display: flex;
        margin-right: 40px;
        .login__icon {
            margin-right: 10px;
        }
        .login__text {
            position: relative;
            &::before {
                position: absolute;
                top: 60%;
                right: -18px;
                width: 10px;
                height: 10px;
                background: url(../assets/icons/ar-b.png);
                background-repeat: no-repeat;
                content: "";
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }
    }
    //HEADER LANGUAGE
    .header__languages {
        display: flex;
        margin-right: 40px;
        .languages__item {
            position: relative;
            margin-right: 5px;
            padding-right: 10px;
            &::after {
                content: '|';
                position: absolute;
                top: 0;
                right: 0;
                font-size: 20px;
                color: map-get($mau, main);
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                &::after {
                    content: none;
                }
            }
        }
    }
    //HEADER SEARCH
    .navSearch__btn {
        cursor: pointer;
    }
    // -------------------------------------------------
    //BOTTOM HEADER
    .navBottom__wrapper {
        position: relative;
        height: 77px;
    }
    .navBar {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        .navBar__item {
            margin-right: 45px;
            @media (max-width: 1719.98px) {
                margin-right: 30px;
            }
            &:last-child {
                margin-right: 0;
            }
            a.navBar__link {
                color: white;
                font-family: Lato-Heavy;
                font-size: 25px;
                @media (max-width: 1440.98px) {
                    font-size: 19px;
                }
                @media (max-width: 1366.98px) {
                    font-size: 16px;
                }
            }
        }
    }
}