extends _templates/_layout/_layout.pug

block var
	- let title = 'News | Index';
	- let bodyClass = 'news-page';
	- let linkBanner = './assets/images/banner/index.png';
	- let titleBanner = 'TRANG CHỦ';
block loading
block banner,breadcrumb
	include _templates/_layout/_mainbanner
block main
	include _templates/detail/d-1
	include _templates/detail/d-2
block scripts
