extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	.block__index
		include _templates/index/i-1
		include _templates/index/i-2
		include _templates/index/i-3
		include _templates/index/i-4
block scripts
