section.home__partner
	.container
		.container-1385px.home__partner__wrapper
				.partner.col-6
					.block__main--title
						h2.title Đối tác
						a(href="#").btn.btn--readmore
							span Xem thêm
							img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.partner__wrapper--content
					.partner-logo__wrapper
						.row
							.partner--logo.item-1
								.background--img
									img.img.simulateclass(src="", alt="")
							.partner--logo.item-2
								.background--img
									img.img.simulateclass(src="", alt="")
							.partner--logo.item-3
								.background--img
									img.img.simulateclass(src="", alt="")
							.partner--logo.item-4
								.background--img
									img.img.simulateclass(src="", alt="")
							.hot-news--banner.item-5
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/partner/banner-1.png", alt="")
							.hot-news--banner.item-6
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/partner/banner-1.png", alt="")
							.hot-news--banner.item-7
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img(src="./assets/images/partner/banner-3.png", alt="")
					input#list-img(type="text" ,hidden)
section.home__member
	.container
		.container-1385px.home__partner__wrapper
			.block__main--title
				h2.title Hội viên
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.home__member--swiper
				.swiper-container
					.swiper-wrapper
						-for(var i =0; i < 5; i++)
							.swiper-slide
								.member-item
									a(href="#")
										.model--img
											img.lazyload(data-src=`./assets/images/partner/logo-${i+ 1}.png`, alt="something")
				.swiper-button-next
				.swiper-button-prev
			
