section.home__partner
	.container
		.container-1385px.home__partner__wrapper
				.partner.col-6.p-0
					.block__main--title
						h2.title Đối tác
						a(href="#").btn.btn--readmore
							span Xem thêm
							img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.partner__wrapper--content.row
					.partner-logo__wrapper.col-6
						.row
							.partner--logo.col-6
								.img
									img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
							.partner--logo.col-6
								.img
									img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
							.partner--logo.col-6
								.img
									img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
							.partner--logo.col-6
								.img
									img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					.banner__wrapper.col-6
						.row
							.hot-news--banner.col-6
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/partner/banner-1.png", alt="")
							.hot-news--banner.col-6
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/partner/banner-1.png", alt="")
							.hot-news--banner.col-12
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/partner/banner-3.png", alt="")
				.place-to-get-partner(style="display:none")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
					img.logo-1(src="./assets/images/partner/logo-1.png", alt="something")
section.home__member
	.container
		.container-1385px.home__partner__wrapper
			.block__main--title
				h2.title Hội viên
				a(href="#").btn.btn--readmore
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.home__member--swiper
					.swiper-container
						.swiper-wrapper
							-for(var i =0; i < 5; i++)
								.swiper-slide
									.member-item
										a(href="#")
											.model--img
												img.lazyload(data-src=`./assets/images/partner/logo-${i+ 1}.png`, alt="something")
						.swiper-button-next
						.swiper-button-prev
			
