section.News
	.container
		.container-1385px.news__wrapper
			.news__HREC
				.block__main--title
					h2.title Tin tức HREC
					a(href="#").btn.btn--readmore.d-n
						span Xem thêm
						img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.newsHREC__list
					-for(var i = 0; i < 6; i++)
						.list__item
							.block__main--news
								a(href="#")
									.news--img
										img.ofcv.lazyload(data-src=`./assets/images/homepage/hotnew-img-1.png`, alt="something")
									.news--date
										span 23.07.2020
									.news--desc
										h2.title.lcl.lcl-2 Lorem Ipsum is simply dummy text of the printing.
										p.sub-title.lcl.lcl-3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
										a(href="#").btn.btn--readmore
											span Đọc tiếp
											img.svg(src="./assets/images/homepage/small-arrow.svg", alt="something")