section.Events
	.container
		.container-1385px.events__wrapper
			.block__main--title
				h2.title Sự kiện HREC
				a(href="#").btn.btn--readmore.d-n
					span Xem thêm
					img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
			.events__HREC
				.events__content
					.events__blog
						.events__item
							.block__main--model
								a(href="detail.html")
									.model--img
										img.ofcv.lazyload(data-src=`./assets/images/stuff/hot-event-1.png`, alt="something")
									.model--date
										span 23.07.2020
									.model--desc
										h2 Lorem Ipsum is simply dummy text of the printing printingand typesetting industry. 
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						.events__item
							.block__main--model
								a(href="detail.html")
									.model--img
										img.ofcv.lazyload(data-src=`./assets/images/stuff/hot-event-1.png`, alt="something")
									.model--date
										span 23.07.2020
									.model--desc
										h2 Lorem Ipsum is simply dummy text of the printing printingand typesetting industry. 
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						.events__item
							.block__main--model
								a(href="detail.html")
									.model--img
										img.ofcv.lazyload(data-src=`./assets/images/stuff/hot-event-1.png`, alt="something")
									.model--date
										span 23.07.2020
									.model--desc
										h2 Lorem Ipsum is simply dummy text of the printing printingand typesetting industry. 
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
						.events__item
							.block__main--model
								a(href="detail.html")
									.model--img
										img.ofcv.lazyload(data-src=`./assets/images/stuff/hot-event-1.png`, alt="something")
									.model--date
										span 23.07.2020
									.model--desc
										h2 Lorem Ipsum is simply dummy text of the printing printingand typesetting industry. 
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
				.events__adc
					.eventTop__slider
						.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="")
											img(src="./assets/images/news-events/adc.png", alt="adc")
					.eventBot__slider
						.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="")
											img(src="./assets/images/news-events/adc.png", alt="adc")
			.eventBottom__HREC
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<=10;i++)
							.swiper-slide
<<<<<<< HEAD
								a(href="detail.html").block__item
									.img
										img.ofcv(src=`./assets/images/news-events/event-1.png`, alt="something")
									.item--desc
										h2 Lorem Ipsum is simply dummy text of the printing.
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever…
=======
								.block__list--item
									a(href="detail.html").block__item
										.img
											img.lazyload.blur-up.ofcv(src=`./assets/images/news-events/event-1.png`, alt="something")
										.item--desc
											h2 Lorem Ipsum is simply dummy text of the printing.
											p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever…
>>>>>>> 84ad9d74cf05a8726dd5afc779653cb046763abe
				.swiper-button-next
				.swiper-button-prev