section.News.community.ov-h.Events
	.container
		.container-1385px.news__wrapper
			.news__HREC
				.block__main--title.bg_
					h2.title Hoạt động cộng đồng
					a(href="#").btn.btn--readmore.d-n
						span Xem thêm
						img.svg(src="./assets/images/homepage/arrow-btn.svg", alt="something")
				.newsHREC__list
					-for(var i = 0; i < 10; i++)
						.news__item
							.block__main--news
								a(href="#")
									.news--img
										img.ofcv.lazyload(data-src=`./assets/images/homepage/hotnew-img-1.png`, alt="something")
									.news--date
										span 23.07.2020
									.news--desc
										h2 Lorem Ipsum is simply dummy text of the printing printingand typesetting industry. 
										p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
										a(href="#").btn.btn--readmore
											span Đọc tiếp
											img.svg(src="./assets/images/homepage/small-arrow.svg", alt="something")
			.news__slider
				.nSlider__row
					.nSlider__col.left
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="")
										img(src="./assets/images/news-events/s2.png", alt="alooo")
					.nSlider__col.right
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="")
										img(src="./assets/images/news-events/s1.png", alt="alooo")
			.eventBottom__HREC
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<=10;i++)
							.swiper-slide
								.block__list--item
									a(href="#").block__item
										.img
											img.ofcv(src=`./assets/images/news-events/event-1.png`, alt="something")
										.item--desc
											h2 Lorem Ipsum is simply dummy text of the printing.
											p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever…
				.swiper-button-next
				.swiper-button-prev